 <div class="bck-img">
  <% current_user.cocktails.each do |cocktail| %>
  <div class="cocktail-profile">
    <div class="container mb-3">
      <div class="cocktail-name mt-5">
        <%= cocktail.name %>
      </div>
      <div class="row cocktail-wrapper mb-3" style="border: 2px solid coral">
        <p id="anchor-<%= cocktail.id %>"></p>
        <div class="d-flex flex-wrap col-sm-12 col-md-12 cocktail-card">
          <div class="col-4 ml-5 mt-5">
            <%= cl_image_tag cocktail.photo.key, width:300, height:400 %>
          </div>
          <div class="ingredients">
            <table class="table table-bordered mt-5 tabela">
              <div class="table">
              <tbody>
                <thead>
                  <th>Ingredient</th>
                  <th>Description</th>
                  <th>Action</th>
                </thead>
                  <% cocktail.doses.each do |dose| %>
                  <tr>
                    <td><%= dose.ingredient.name %></td>
                    <td><%= dose.description %></td>
                    <td>
                      <%= link_to cocktail_dose_path(cocktail, dose) , method: :delete, data: { confirm: "Are you sure?" } do %>
                        <i class="fa fa-trash" style="color: black"></i>
                      <% end %>
                      <span>
                      <%= link_to edit_cocktail_dose_path(cocktail, dose) do %>
                        <i class="fa fa-pen" style="color: black"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
              </div>
            </table>
          </div>
          </div>
          <div class="d-flex user-action-btns ml-5">
            <div class="col-md-1 back">
             <%=link_to "Back", root_path, class: 'btn-ghost-cocktail'%>
            </div>
            <div class="col-md-1 edit">
             <%=link_to "Edit", edit_cocktail_path(cocktail), class: 'btn-ghost-cocktail'%>
            </div>
            <div class=" col-md-1 delete">
              <%=link_to "Delete", cocktail_path(cocktail), method: :delete, data: {confirm: "are you sure you want to delete this cocktail"}, class: 'btn-ghost-cocktail'%>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 mt-5 mb-3 ml-5">
            <h5>Add an Ingredient</h5>
            <div class="dose-container">
              <% @cocktail = cocktail %>
              <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>








